[package]
name = "file"
version = "0.4.5"
edition = "2021"

[dev-dependencies]
criterion = { version = "0.5", features = ["html_reports"] }

[[bin]]
name = "file"
bench = false

[lib]
bench = false

[[bench]]
name = "benchmark"
harness = false

[dependencies]
parking_lot = "0.12.3"